
.topNav{  
    background-color: #00821C !important;  
    margin: 0 !important;
    padding: 0 !important;
}


.topNavlist a {
color: #FFFF !important;
}

#media{
    Width:35px;
    Height:31px;
}


.navbar {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    white-space: nowrap;
    position: fixed;
   
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}


#logo{
   width: 70px;
   height: 92px;
   top: 45px;
   left: 198px;
} 


.nav-ul {
    display: flex;
    list-style-type: none;
    padding-top: 1rem;
    font-size: 1.3rem;
}

.nav-li {
    padding: 0 1rem;
    color: black;
    font-weight: 600;
}

.nav-icon {
    text-decoration: none;
    color: black;
}

.nav-icon:hover {
    color: #fff;
    background: green;
    border-radius: 2rem;
    padding: 0.7rem 0.5rem;
    transition: 0.4s ease-in-out;
}

.nav-icon i {
    padding: 0 0.2rem;
}

.navbar-logo {
    margin-left: 1rem;
}
.menu-icons {
    display: none;
    font-size: 1.5rem;
    padding: 0 0 0 1.5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

@media screen and (max-width: 900px) {
  .topNav{
    display: none !important;
  }
    .navbar {
        top: 5px;
    }
    .nav-ul {
        flex-direction: column;
        background: #fff;
       
        border-radius: 20px;
        width: 100%;
        height: 400px;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
        align-items: stretch;
        position: absolute;
        top: -1000px;
        left: 0%;
        z-index: -4;
        transition: 0.7s;
        row-gap: 3rem;
    }

    .nav-ul a {
        padding-left: 10%;

    }
    .nav-ul.active {
        top: 100px;
    }

    .menu-icons {
        display: initial;
    }

}