.carousel-item img{
    width: 100%;
    height: 77vh;
    background-color: white;
}
.carousel-btn{
    display: none !important;
}
.imgtext{
    margin-bottom: 340px;
    color: #FFFF;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.inline-p {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.carousel-img::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: green;
    z-index: -1;
    opacity: 0.5;
}













    



  



