.join-bg :before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: green;
    z-index: -1;
    opacity: 0.5;
}
    .vertical-line {
        border-left: 1px solid black;
        height: 100vh;
        width: 1px;
        min-height: 50px; 
    }
    .btn3 {margin-right: 40px;
    background-color:#D82A34 !important;
    border-radius: 30px !important;
   padding-left: 35px;
   padding-right: 35px;

    border-width: 0 !important;
    margin-bottom: 120px !important;
   }
