.programmes-bg::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: green;
    z-index: -1;
    opacity: 0.5;
}
.programmes-bg h1{
    padding-top: 150px;
    padding-bottom: 50px;
}
